<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WN2RTK0M9K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WN2RTK0M9K');
</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
        body {
            background-color: #f2f2f2;
        }
        .container{
            text-align: center;
        }
        </style>
    </head>
    <body>
    <div class = "container">
    <h1> Semantic Search for Courses </h1>
    <p> This project uses Open AI Ada embeddings to find courses with similar descriptions. Inspired by the <a href='https://www.searchclasses.org/'> Cardinal Compass </a> project at Stanford.</p>
    
    <h3>Development steps</h3>
    <p>1. Get list of courses and their descriptions at IU using web scraping (Python, Selenium, BeautifulSoup)</p>
    <p>2. Use OpenAI API to get embeddings for each course description (Python, OpenAI API)</p>
    <p>3. Store embeddings in a database</p>
    <p>4. Create a web interface to search for similar courses (Python-Flask, Azure)</p>

    <h3>Future steps</h3>
    <p>1. Add more courses from other departments</p>
    <p>2. Add more features to the search interface including filtering by department, course number, etc.</p>
    <p>3. Add more information about each course including prerequisites, credit hours, etc.</p>

    <h3>Authors</h3>
    <p> <a href='https://www.linkedin.com/in/srikarkashyap/'> Srikar Kashyap Pulipaka </a> </p>
    <a href='/'><button class="btn btn-primary">Go Home</button></a>
    </body>
</html>