<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Semantic Search - Indiana University Bloomington - Srikar Kashyap Pulipaka</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- import bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="">
        <style>
            body {
                background-color: #f2f2f2;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Semantic Search for Fall 2023 Courses - Indiana University</h1>
        <h4>CSCI, DSCI, STAT, INFO, ILS and ENGR Courses</h4>
        <h5>By Srikar Kashyap Pulipaka</h5>
        <br><br>
    <p> Enter your search query in the below box and click on search to get your recommended courses! </p>
    <p> Examples: machine learning systems, web development, software development, etc </p>
    <!-- bootstrap form using bootstrap button-->
    <form action="search" method="post">
        <input type="text" name="query" placeholder="Search here...">
        <input type="checkbox" name="graduate" value="graduate"> Only Graduate Courses
       <!-- bootstrap submit button -->
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    </body>
</html>