<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Semantic Search - Indiana University Bloomington - Srikar Kashyap Pulipaka</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- import bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="">
        <style>
            body {
                background-color: #f2f2f2;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <!-- body in a container-->
        <div class="container">
        <!-- 4 units div -->
        <div class="col-md-1">
            <img src="https://assets.iu.edu/brand/3.3.x/trident-large.png" alt="IU Logo" style="width:100px;height:100px;">
        </div>
        <div class="col-md-11"><h1>Semantic Search for Fall 2023 Courses - Indiana University</h1></div>
        
        <h4>CSCI, DSCI, STAT, INFO, ILS and ENGR courses only</h4>
        <h5>By Srikar Kashyap Pulipaka <a href="mailto:spulipa@iu.edu">(spulipa@iu.edu)</a></h5>
        <h6><a href="about">About</a></h6>
        <br><br>
    <p> <b>Semantic Search enables you to search by meaning, not just keywords. </b></p>
        <p>It can help you find courses even if the exact keyword doesn't exist in the course description! </p>
    <p> <b>Examples</b>: machine learning systems, web development, software development, practical data science </p>
    <!-- bootstrap form using bootstrap button-->
    <form action="search" method="post">
        <input type="text" name="query" placeholder="Search here..." >
        <input type="checkbox" name="graduate" value="graduate"> Only Graduate Courses
       <!-- bootstrap submit button -->
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
</div>
    </body>
</html>