<!DOCTYPE html>
<html>
    <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WN2RTK0M9K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WN2RTK0M9K');
</script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Results - Semantic Search - Srikar Kashyap Pulipaka</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
                background-color: #f2f2f2;
        }
        h1,p,h2,form {
            text-align: center;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <form action="search" method="post">
        <input type="text" name="query" placeholder="Search here...">
        <input type="checkbox" name="graduate" value="graduate"> Only Graduate Courses
       <!-- bootstrap submit button -->
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
        <h2> Recommended courses </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Number</th>
                    <th>Course Description</th>
                    <th>Credits</th>
                    <th>Match Score</th>
                </tr>
            </thead>
            <tbody>
                {% for course in results.iterrows() %}
                <tr>
                    <td>{{ course[1]['title'] }}</td>
                    <td>{{ course[1]['course_code'] }}</td>
                    <td>{{ course[1]['description'] }}</td>
                    <td>{{ course[1]['credits'] }}</td>
                    <td>{{ course[1]['similarity'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    <!-- footer with contact details -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Contact me at <a href="mailto:spulipa@iu.edu">spulipa@iu.edu</a></p>
        </div>
    </footer>
    </body>
</html>